<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Week Two Assignments</title>
  <link rel="stylesheet" href="../css/main.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/7b62ea7364.js" crossorigin="anonymous"></script>
</head>
<body>
  <header>
    <h1>Week Two Assignments</h1>
  </header>
  <main class="grid">
    <div class="container">
      <div class="chips flex flex-wrap">
        <div class="chip">one</div>
        <div class="chip">two</div>
        <div class="chip">three</div>
        <div class="chip">four</div>
        <div class="chip">five</div>
        <div class="chip">six</div>
        <div class="chip">seven</div>
        <div class="chip">eight</div>
        <div class="chip">nine</div>
      </div>
      <h2 class="section-title text-center">Basic Chips</h2>
    </div>

    <div class="container">
      <div class="chips flex flex-wrap">
        <div class="chip"><i class="fas fa-user-astronaut avatar"></i>
            one
          <i class="fas fa-times-circle close"></i>
        </div>
        <div class="chip"><i class="fas fa-user-astronaut avatar"></i>
            two
          <i class="fas fa-times-circle close"></i>
        </div>
        <div class="chip"><i class="fas fa-user-astronaut avatar"></i>
            three
          <i class="fas fa-times-circle close"></i>
        </div>
        <div class="chip"><i class="fas fa-user-astronaut avatar"></i>
            four
          <i class="fas fa-times-circle close"></i>
        </div>
        <div class="chip"><i class="fas fa-user-astronaut avatar"></i>
            five
          <i class="fas fa-times-circle close"></i>
        </div>
        <div class="chip"><i class="fas fa-user-astronaut avatar"></i>
            six
          <i class="fas fa-times-circle close"></i>
        </div>
        <div class="chip"><i class="fas fa-user-astronaut avatar"></i>
            seven
          <i class="fas fa-times-circle close"></i>
        </div>
        <div class="chip"><i class="fas fa-user-astronaut avatar"></i>
            eight
          <i class="fas fa-times-circle close"></i>
        </div>
        <div class="chip"><i class="fas fa-user-astronaut avatar"></i>
            nine
          <i class="fas fa-times-circle close"></i>
        </div>
      </div>
      <h2 class="section-title text-center">Chips with avatar and close button</h2>
    </div>
  </main>
  </body>
  </html>
